@import "normalizes.scss"
@import "resets.scss"

*
    box-sizing: border-box

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Medium.ttf)
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Regular.ttf)
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Thin.ttf)
    font-weight: 100
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Light.ttf)
    font-weight: 300
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Bold.ttf)
    font-weight: 700
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-ExtraBold.ttf)
    font-weight: 800
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-ExtraBlack.ttf)
    font-weight: 900
    font-style: normal
    font-display: swap

html
    font-family: 'TTNormsPro', sans-serif
    font-weight: 400
    overflow-x: hidden

body
    background: #E2E4E8
    position: relative
    overflow-x: hidden

$button-color-blue: rgb(219, 174, 139)
$button-border-color-blue: rgb(219, 174, 139)

.container
    max-width: 1680px
    position: relative
    margin: 0 auto
    /* z-index: 2 */

/*********** index ***********/

.header
    padding-top: 52px
    display: flex
    align-items: center
    position: sticky
    z-index: 2
    &-link_margin1
        margin-right: 200px
    &-link_margin2
        margin-right: 200px
    &-link_margin3
        margin-right: 99px
    &-link_margin4
        margin-left: 99px
    &-link_margin5
        margin-left: 162px
    &-link_margin6
        margin-left: 162px
    &-block1-ul1
        display: flex
    &-block3-ul2
        display: flex
    &-block1-link
        color: rgb(245, 235, 233)
        font-size: 20px
        font-weight: 400
        line-height: 24px
    &-block1-link_custom
        color: rgb(219, 174, 139)
        font-size: 20px
        font-weight: 400
        line-height: 24px
        white-space: nowrap
        &:hover
            color: rgb(232, 195, 166)

a
  overflow: hidden
  position: relative
  display: inline-block
  text-decoration: none

a::before
a::after 
    content: ''
    position: absolute
    width: 100%
    left: 0

a::before 
  background-color: rgb(235, 206, 200)
  height: 2px
  bottom: 0
  transform-origin: 100% 50%
  transform: scaleX(0)
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1)

a::after 
  content: attr(data-replace)
  height: 100%
  top: 0
  transform-origin: 100% 50%
  transform: translate3d(200%, 0, 0)
  transition: .3s cubic-bezier(0.76, 0, 0.24, 1)
  color: rgb(245, 235, 233)

a:hover::before 
  transform-origin: 0% 50%
  transform: scaleX(1)

a:hover::after 
  transform: translate3d(0, 0, 0)

a span 
    display: inline-block
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1)

a:hover span 
  transform: translate3d(-200%, 0, 0)

.dropdown
    position: relative

.dropdown-content
    display: none
    position: absolute
    border-radius: 12px
    background: #f1decf
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    z-index: 1
    top: 100%
    left: 50%
    width: 160px

.dropdown-content a
    display: block
    padding: 10px 20px
    text-decoration: none
    color: #333
    transition: .3s all
    &:hover
        color: #e19a64

.dropdown:hover .dropdown-content
    display: block

.dropdown-custom
    color: rgb(219, 174, 139)
    font-size: 20px
    font-weight: 300
    line-height: 24px
    margin-top: 20px




.footer-section
    min-height: 1050px
    background: rgb(74, 66, 60)
    &__wrapper_main
        display: flex
        margin-bottom: 165px
    &__wrapper1
        padding-top: 45px
        margin-right: 85px
    &__wrapper2
        padding-top: 45px
        margin-right: 23px
    &__wrapper3
        padding-top: 45px
        margin-right: 23px
    &__wrapper4
        padding-top: 45px
        margin-right: 73px
    &__wrapper5
        padding-top: 45px
    &__text
        color: rgb(245, 235, 233)
        font-size: 28px
        font-weight: 500
        line-height: 34px
        letter-spacing: 0%
        margin-top: 16px
    &__span
        font-weight: 300
    &__h6
        margin-bottom: 16px
        color: rgb(245, 235, 233)
        font-size: 33px
        font-weight: 500
        line-height: 40px
        letter-spacing: 0%
    &__li
        list-style-type: none
    &__link
        margin-bottom: 16px
        color: rgb(245, 235, 233)
        font-size: 28px
        font-weight: 300
        line-height: 34px
        letter-spacing: 0%
        &:hover
            text-decoration: underline
    &__strelka
        transition: .3s all
        &:hover
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset
            border-radius: 30%
            cursor: pointer
    &__last-info
        padding-bottom: 36px
    &__hr
        border: 1px solid rgb(245, 235, 233)
    &__last-text
        color: rgb(245, 235, 233)
        font-size: 16px
        font-weight: 300
        line-height: 19px
        letter-spacing: 0%
